<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/dist/css/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    {{ $site := .Site -}}
    {{ with .Page.Title -}}
    <title>{{.}} - {{$site.Title}}</title>
    {{- else }}
    <title>{{.Site.Title}}</title>
    {{- end }}
</head>
