{{define "body"}}
<title>{{title .}}</title>
<a class="font-semibold cursor-pointer text-primary" hx-get="/devices/list" hx-target="#devicesContainer"
    hx-push-url="/devices">
    Devices
</a>
<div class="prose mb-6">
    <h2 class="mb-2">{{.Page.Device.Name}}</h2>
    <p class="mb-0">{{.Page.Device.Phone}}</p>
    <span hx-get="/devices/{{.Page.Device.ID}}/_status" hx-trigger="load,every 3s"></span>
</div>

<section class="mb-5" hx-get="/devices/{{.Page.Device.ID}}/apikey" hx-trigger="load"></section>
<section class="mb-5" hx-get="/devices/{{.Page.Device.ID}}/send" hx-trigger="load"></section>
<div class="my-5 border-red-400 border-solid border w-full p-3 rounded-box">
    <div class="prose mb-3">
        <h4 class="font-bold">Danger Area</h4>
    </div>
    <section class="prose">
        <p>In case device is not connected anymore, you may delete it. But if
            the device still connected, ensure to logout manually from you phone</p>
        <button class="btn btn-sm btn-error" hx-delete="/devices/{{.Page.Device.ID}}"
            hx-confirm="You will need to logout manually after deletion. Continue?">Delete Device</button>
    </section>
</div>
{{end}}
