{{- define "content" -}}
<div
  class="row col-md-6 col-lg-4 mx-auto align-items-center py-4 bg-body-tertiary"
>
  <form class="form-signin w-100" method="post" action="">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating mb-1">
      <input
        name="username"
        class="form-control"
        id="inputUsername"
        placeholder="name@example.com"
      />
      <label for="inputUsername">Username</label>
    </div>
    <div class="form-floating mb-1">
      <input
        name="password"
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Password"
      />
      <label for="inputPassword">Password</label>
    </div>
    <button class="btn btn-primary w-100 py-2 my-2" type="submit">Sign in</button>
  </form>
</div>
{{- end -}} {{- template "base" . -}}
