<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wadoh</title>
    <link rel="stylesheet" href="/static/dist/css/main.css" />
  </head>

  <body>
    {{if eq .Layout "base"}}
    <header class="navbar bg-base-200">
      <div class="container mx-auto">
        {{- block "navbar_before" . -}}{{- end -}}
        <div class="flex-1">
          <a class="text-xl font-semibold" href="/">Wadoh</a>
        </div>
      </div>
    </header>
    {{- block "content" . -}} {{- end -}}
    {{end}}
    {{if eq .Layout "dashboard"}}{{block "dashboard" .}}{{end}}{{end}}
    <script type="module" src="/static/dist/js/main.js"></script>
  </body>
</html>
